html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 0px 25px;
    align-items: center;
}

nav a{
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: rgb(53, 53, 53);
    font-size: 15px;
    letter-spacing: 0.2px;
    padding-right: 18px;
}

nav a:hover{
    text-decoration: underline;
}

.nav2{
    display: flex;
    align-items: center;
    padding: inherit;
}

.profile-pic{
    border-radius: 50%;
    width: 40px;
    height: auto;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20vh;
}

.google-logo{
    width: 325px;
}

form{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search{
    position: relative;
}

input[type=text]{
    width: 500px;
    height: 55px;
    border-radius: 50px;
    border: 1px solid rgb(211, 213, 221);
    background-image: url('https://www.flaticon.com/svg/static/icons/svg/116/116836.svg');
    background-position: 20px 18px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: Arial, sans-serif;
    color: rgb(53, 53, 53);
    font-size: 18px;
}

input[type=text]:focus{
    outline: none;
    box-shadow: 0px 0px 10px rgb(211, 213, 221);
    border: 1px solid transparent;
}

input[type=text]:hover{
    box-shadow: 0px 0px 10px rgb(211, 213, 221);
    border: 1px solid transparent;
}

button{
   background-image: linear-gradient(rgb(241, 241, 241), rgb(241, 241, 241));
   font-family: Arial, sans-serif;
   color: rgb(94, 94, 94);
   font-size: 18px;
   padding: 15px 20px;
   border-radius: 5px;
   margin-right: 10px;
   border: 1px solid transparent;
   margin-top: 25px;
}

button:hover{
    border: 1px solid rgb(185, 185, 185);
    color: rgba(0,0,0,1);
    box-shadow: 0px 2px 5px rgb(235, 235, 235);
    background-image: linear-gradient(rgb(243, 243, 243), rgb(239, 239, 239));
}

#page-container{
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0;
}

footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid rgb(220, 220, 220);
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer a{
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: rgb(53, 53, 53);
    font-size: 16px;
    letter-spacing: 0.2px;
    margin-right: 20px;
}

footer a:hover{
    text-decoration: underline;
}

.footer1{
    padding-left: 25px;
}

.footer2{
    padding-right: 5px;
}


